.map{
    width: 100vw;
    height: 100vh;
}

.div-overlay{
    background-color: rgba(173, 216, 230, 0.5);
    /* opacity: 0.5; */
    position: absolute;
    z-index: 1;
    bottom: 15px; 
    left: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.div-overlay-due{
    background-color: rgba(173, 216, 230, 0.5);
    /* opacity: 0.5; */
    position: absolute;
    z-index: 1;
    bottom: 300px; 
    left: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.list-group-item{
    background-color: unset !important;
}